
header{
    width: 100%;
    background-color: blue;
    height: 70px;
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 30px
}

main{
    display: flexbox;
    flex-direction: row;
    flex-wrap:nowrap;
    margin-top: 2%;
}


body{
    width: 100%;
    background-color: rgb(255, 255, 255);
  
    }


.container{

    background-color: rgb(243, 242, 232);
    border: 2rem;
    width: 50%;
    height: 300px;
    padding: 30px;
    border-color: black;
    margin: 20px;
   
    display:inline-block;
   
}
.container2{

    background-color: rgb(98, 91, 23);
    border: 2rem;
    width: 50%;
    height: 300px;
    padding: 30px;
    border-color: rgb(16, 1, 1);
    margin: 20px;

}

.searchbox{
    position:relative;
    margin-left: 0,0,20px,20px;
    background-color: red;
    width: 30%;
    height: 120px;
    flex: 1 0 70px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.searchbutton{
    width: 100px;
    height: 30px;
    background-color: green;
    

}
.results{
    position:relative;
    margin: 0,0,20px,20px;
    width: 30%;
    height: 520px;
    background-color: blue;
}

#box{
    width: 20%;
    background-color: brown;
}